.menu {
  position: relative;
  width: 100%;
  height: auto; 
  justify-content: space-around;
  align-items: center;
  display: flex;
  align-items: center;
  text-align: center; 
  flex-wrap: wrap;
}

.menu ul {
  display: flex;
  gap: 20px;
  .a2 {
    color: rgb(2, 200, 200);
  }
  a:hover{
    color: rgb(2, 200, 200);
  }
}

.menu li {
  list-style: none;
  border-radius: 60px;
  padding: 5px 5px 5px 5px;
}

.menu a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-size: 30px;
}

.navvar {
  width: 480px;
  border-radius: 60px;
  background: rgb(255, 255, 255);
  margin-left: -65px; 
}

.container {
  display: inline-block;
  margin-left: -35px; 
}

.logo {
  vertical-align: middle;
  margin-right: 20px;
}

.titulo {
  display: inline-block;
  vertical-align: middle;
}
.linea {
  display: block;
  height: 5px;
  width: 45%;
  background-color: rgb(2, 200, 200);
  text-decoration: none;
  margin: auto;
}
.catalogo{
    text-align: center;
    font-size: 18px;
}
.producto_unidad img{
    width: 80%;
  border-radius: 20px;
  margin: 20px;
  text-align: justify;
}
.producto_unidad .ola:hover {
  transform: scale(1.09);
}
.producto_unidad img:hover {
  -webkit-transform:scale(0);
  transform:scale(1.02);
}
.contenedor {
  overflow:hidden;
}
.footer{
  position: absolute;
  padding: 20px;
  background-color: #ccc;
  width: 100%;
  border-radius: 10px;
}
.logofooter{
  align-items: center;
  justify-content: center;
  display: flex;
}
.logofooter img{
  border-radius: 10px;
}
.social{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  font-size: 25px;
  margin: 20px;
}
.social a{
  padding: 20px 20px 0 20px;
  color: black;
}
.mensaje{
  text-align: center;
  font-size: 25px;
}
.btn-wsp{
  position:fixed;
  width:60px;
  height:60px;
  line-height: 63px;
  bottom:25px;
  right:25px;
  background:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:35px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  z-index:100;
  transition: all 300ms ease;
}
.btn-wsp:hover{
  background: #fff;
  color: #20ba5a;
}
@media only screen and (min-width:320px) and (max-width:768px){
  .btn-wsp{
      width:63px;
      height:63px;
      line-height: 66px;
}
}